*{
  padding: 0;
  margin: 0;
}
body{
  font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  background-color:#19a97b
}
a{
  text-decoration: none
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
